* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;

    background-color: rgb(250, 250, 248);

    font-family: Arial, sans-serif;

    overflow-x: hidden;
}


/*HERO*/

.hero {
    position: relative;

    width: 100%;
    height: 700px;

    overflow: hidden;
}


.slider {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
    z-index: 1;
}

.slides {
    display: flex;

    width: 100%;
    height: 100%;

    transition: transform 0.8s ease;
}

.slides img {
    width: 100%;
    height: 100%;

    flex: 0 0 100%;

    object-fit: cover;
}


/*LOGO*/

.logo {
    position: absolute;

    top: 15px;
    left: 40px;

    color: black;

    font-family: "Mea Culpa", cursive;

    font-size: 50px;

    line-height: 1;

    z-index: 10;

    white-space: nowrap;
}


/*MENU*/

nav {
    position: absolute;

    top: 20px;
    right: 20px;

    width: auto;

    z-index: 10;
}


nav ul {
    display: flex;

    align-items: center;
    justify-content: flex-end;

    flex-wrap: wrap;

    gap: 3px;

    list-style: none;

    margin: 0;
    padding: 0;
}


nav li {
    margin: 0;
}


nav a {
    display: block;

    padding: 10px 9px;

    color: black;

    text-decoration: none;

    font-size: 16px;

    white-space: nowrap;

    transition: 0.3s;
}


nav a:hover {
    color: white;
}


.fa-solid {
    font-size: 28px;
}



/* =========================
   FOOTER
========================= */

footer {
    width: 100%;
    margin-top: 80px;
    font-family: Arial, sans-serif;
}


/* PARTE SUPERIOR */

.footer-arriba {
    background-color: #ddc095;

    min-height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 25px;

    padding: 0 20px;

    flex-wrap: wrap;
}


/* ENLACES */

.footer-arriba a {
    color: #1c1c1c;

    text-decoration: none;

    font-size: 12px;
}

.footer-arriba a:hover {
    text-decoration: underline;
}


/* PARTE INFERIOR */

.footer-abajo {
    background-color: #8fa3af;

    min-height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px;

    text-align: center;
}


/* TEXTO */

.footer-abajo p {
    color: #1c1c1c;

    font-size: 12px;

    margin: 0;
}

.footer-abajo span {
    color: #f5f2ed;
}


/*FORMULARIO DE RESERVA*/

.form-reserva {
    position: absolute;

    left: 50%;
    bottom: 30px;

    transform: translateX(-50%);

    width: calc(100% - 40px);
    max-width: 900px;

    padding: 15px;

    background-color: burlywood;

    border-radius: 12px;

    z-index: 20;
}


/* FILA */

.fila {
    display: flex;

    align-items: end;
    justify-content: center;

    flex-wrap: wrap;

    gap: 15px;
}


/* CAMPOS */

.campo {
    display: flex;

    flex-direction: column;

    gap: 5px;
}


.campo label {
    font-family: "Times New Roman", Times, serif;

    font-size: 16px;

    color: black;
}


/* INPUTS */

.campo input {
    width: 150px;
    height: 40px;

    padding: 5px;

    border: 1px solid #777;

    border-radius: 5px;

    font-family: Arial, sans-serif;

    font-size: 15px;
}


/* BOTON */

.reserva {
    width: 150px;
    height: 40px;

    border: none;

    border-radius: 15px;

    background-color: bisque;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}


.reserva:hover {
    transform: scale(1.03);
}


/*SOBRE NOSOTROS*/

.sobre-nosotros {
    width: 90%;
    max-width: 1200px;

    margin: 50px auto 0;

    padding: 20px;

    color: #070707;

    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
}


.sobre-nosotros h1 {
    margin-bottom: 20px;

    font-size: clamp(32px, 5vw, 50px);
}


.sobre-nosotros p {
    font-size: clamp(16px, 2vw, 20px);

    line-height: 1.6;
}


/*VALORACIONES*/

.valoraciones {
    display: flex;

    width: 90%;
    max-width: 1500px;

    margin: 40px auto;

    padding: 20px;

    justify-content: space-around;
    align-items: stretch;

    flex-wrap: wrap;

    background-color: #8fa8b5;

    border-radius: 10px;
}


.valoracion {
    flex: 1 1 150px;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    min-height: 80px;

    padding: 10px 15px;

    text-align: center;

    border-right: 1px solid #333;
}


.valoracion:last-child {
    border-right: none;
}


.nota {
    font-size: 35px;

    font-weight: bold;
}

/*Habitaciones*/

.habitacion {
    width: 90%;
    max-width: 1450px;
    margin: 40px auto;

    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px;

    align-items: center;
}

/* INFORMACIÓN */
.info {
    width: 100%;
    padding: 20px;
}

.info h1 {
    font-size: clamp(28px, 3vw, 50px);
    margin-bottom: 20px;
}

.info p {
    font-size: clamp(16px, 1.3vw, 21px);
    line-height: 1.6;
}

.info h2 {
    line-height: 2.5;
    font-size: 20px;
}

/* FOTOS */
.fotos {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    gap: 15px;
}

.fotos img {
    width: 100%;
    aspect-ratio: 16 / 10;

    object-fit: cover;
    border-radius: 10px;

    cursor: pointer;
    transition: 0.3s;
}

.fotos img:hover {
    transform: scale(1.03);
}

/* CONTACTO Y UBICACIÓN */

.Contacto {
    background-color: beige;

    width: 90%;
    max-width: 1450px;
    margin: 40px auto;

    display: grid;  
    grid-template-columns: 30% 70%;
    gap: 40px;

    align-items: start;
}


/* FORMULARIO */

.formulario-contacto {
    width: 100%;
    max-width: 700px;

    margin: 0 auto;
    padding: 30px;

    background-color: white;

    border: 1px solid #ddd;
    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

    box-sizing: border-box;
}

.formulario-contacto h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
    color: #333;
}

.formulario-contacto form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formulario-contacto label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    color: #444;
}

.formulario-contacto input,
.formulario-contacto select,
.formulario-contacto textarea {
    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 16px;
    font-family: Arial, sans-serif;

    box-sizing: border-box;

    background-color: #fafafa;

    transition: 0.3s;
}

.formulario-contacto input:focus,
.formulario-contacto select:focus,
.formulario-contacto textarea:focus {
    outline: none;

    border-color: #d2a76d;

    box-shadow: 0 0 5px rgba(210, 167, 109, 0.4);

    background-color: white;
}

.formulario-contacto textarea {
    resize: vertical;
    min-height: 120px;
}

.formulario-contacto button {
    width: 100%;

    margin-top: 15px;
    padding: 13px;

    border: none;
    border-radius: 8px;

    background-color: burlywood;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.formulario-contacto button:hover {
    background-color: #d2a76d;
    transform: translateY(-2px);
}


/* =========================
   MAPA
========================= */

.ubicacion {
    width: 100%;
    max-width: 700px;

    margin: 40px auto 0;

    text-align: center;

    box-sizing: border-box;
}

.ubicacion h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #333;
}

.ubicacion p {
    margin-bottom: 20px;
    color: #666;
}


/* CONTENEDOR DEL MAPA */

.mapa {
    width: 100%;
    height: 450px;

    overflow: hidden;

    border-radius: 20px;

    border: 4px solid white;

    box-shadow:
        0 8px 25px rgba(0, 0, 0, 0.20),
        0 0 0 1px #ddd;

    box-sizing: border-box;

    background-color: #eee;
}


/* MAPA */

.mapa iframe {
    width: 100%;
    height: 100%;

    border: 0;

    display: block;
}









/*Habitaciones*/

.habitaciones {
    width: 90%;
    max-width: 1500px;
    height: 400px;

    background-color: transparent;
    color: #000000;

    border: 3px solid black;
    border-radius: 10px;

    margin: 60px auto 0;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 30px;
}

.habitaciones img {
    width: 450px; /* Tamaño de la imagen */
    height: 300px; /* Altura de la imagen */

    object-fit: cover;
    border-radius: 8px;

    max-width: 45%;
}

.habitaciones .info {
    flex: 1;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.25);
    color: black;

    border-radius: 10px;
}










/* =========================
   PORTAL DE CLIENTES
========================= */

.portal-clientes {
    min-height: 100vh;

    background-color: #e9e7e3;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 40px 20px 50px;
    box-sizing: border-box;
}

.portal-clientes {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 40px;

    box-sizing: border-box;

    
}


.formulario-portal {
    width: 95%;
    max-width: 900px;

    padding: 40px 60px;

    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;

    box-sizing: border-box;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


.formulario-portal h1 {
    text-align: center;

    color: #1c1c1c;

    margin-top: 0;
}


.descripcion-portal {
    text-align: center;

    margin-bottom: 25px;

    color: #333;
}


/* FORMULARIO */

.formulario-portal form {
    display: flex;
    flex-direction: column;

    gap: 8px;
}


.formulario-portal label {
    margin-top: 10px;

    font-weight: bold;

    color: #1c1c1c;
}


.formulario-portal input {
    padding: 12px;

    border: 1px solid #8fa3af;
    border-radius: 7px;

    font-size: 15px;

    box-sizing: border-box;
}


.formulario-portal input:focus {
    outline: none;

    border: 2px solid #ddc095;
}


/* BOTÓN */

.formulario-portal button {
    margin-top: 20px;

    padding: 13px;

    border: none;
    border-radius: 8px;

    background-color: #8fa3af;

    color: white;

    font-size: 16px;

    cursor: pointer;
}


.formulario-portal button:hover {
    background-color: #708794;
}


/* ENLACES */

.opciones-portal {
    margin-top: 25px;

    display: flex;
    justify-content: space-between;

    gap: 10px;
}


.opciones-portal a {
    color: #1c1c1c;

    font-size: 14px;
}
