<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="../Estilos/Estilos.css">
</head>
<body>

     <nav>

        <ul>

            <li><a href="Index.html">Inicio</a></li>

            <li><a href="Habitaciones.html">Habitaciones</a></li>

            <li><a href="Oasis.html">Oasis</a></li>

            <li><a href="Galeria y Opiniones.html">Galería y opiniones</a></li>

            <li><a href="Eventos.html">Eventos</a></li>

            <li><a href="Restaurante.html">Restaurante</a></li>

            <li><a href="Promociones.html">Promociones</a></li>

            <li><a href="Contacto.html">Contacto</a></li>

            <li><a href="Portal de clientes.html">Registrate</a></li>

        </ul>

    </nav>

<!--Slider-->

<div class="slider">
    <div class="slides">
        <img src="../IMG/Habitacion sencilla.png">
        <img src="../IMG/Habitacion sencilla doble.png">
        <img src="../IMG/Habitacion master.png">
    </div>
</div>

<script src="../Js/slider.js"></script>


</body>
</html>