<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="../Estilos/Estilos.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap" rel="stylesheet">

</head>
<body>

    <div class="mea-culpa-regular">Bacatá Crown</div>

     <nav>

        <ul>

            <li><a href="Index.html">Inicio</a></li>

            <li><a href="Habitaciones.html">Habitaciones</a></li>

            <li><a href="Oasis.html">Oasis</a></li>

            <li><a href="Galeria y Opiniones.html">Galería y opiniones</a></li>

            <li><a href="Eventos.html">Eventos</a></li>

            <li><a href="Restaurante.html">Restaurante</a></li>

            <li><a href="Promociones.html">Promociones</a></li>

            <li><a href="Contacto.html">Contacto</a></li>

            <li><a href="Portal de clientes.html"><i class="fa-solid fa-circle-user"></i></i></a></li>

        </ul>

    </nav>

</body>
</html>